[submodule "projects/arepo/source"]
	path = projects/arepo/source
	url = https://gitlab.mpcdf.mpg.de/vrs/arepo.git
[submodule "projects/quantum-espresso/source"]
	path = projects/quantum-espresso/source
	url = https://gitlab.com/QEF/q-e.git
[submodule "projects/lammps/source"]
	path = projects/lammps/source
	url = https://github.com/lammps/lammps.git
[submodule "projects/wrf/source"]
	path = projects/wrf/source
	url = https://github.com/wrf-model/WRF.git
